@page
@model LibraryMySQL.Pages.Library.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Authors)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Authors)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.ISBN)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.ISBN)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Format)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Format)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Pages)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Pages)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Book.Id">Edit</a> |
    <a asp-page="./Books">Back to List</a>
</div>